---
import MainLayout from '@layouts/MainLayout.astro';
import SearchHeader from '@components/SearchHeader.astro';

import { db, eq, Card, Set } from 'astro:db';

const { cardid = "" } = Astro.params;
console.log(cardid);
const card = await db.select().from(Card).where(eq(Card.id, cardid)).get();

if(!card) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found'
    });
}

const set = await db.select().from(Set).where(eq(Set.id, card.setId)).get();

---
<MainLayout>
    <SearchHeader />
    <main>
        <div class="card">
            <p>Code: {card.code}</p>
            <p>Card Name: {card.name}</p>
            <p>Type: {card.type}</p>
            <p>Color: {card.color}</p>
            <p>Rarity: {card.rarity}</p>
            <p>Expansion: {set?.name}</p>
            <p>Level: {card.level}</p>
            <p>Cost: {card.cost}</p>
            <p>Power: {card.power}</p>
            <p>Soul: {card.soul}</p>
            <p>
                Trigger: {(card.trigger as String[]).map(trigger => 
                <div class="trigger-icon">{trigger}</div>)}
            </p>
            <p>
                Traits: {(card.traits as String[]).map(trait => 
                <div class="trait">{trait}</div>)}
            </p>
            <p>Abilities ({(card.abilities as String[]).length}): {(card.abilities as String[]).map(ability =>
                <p class="ability">{ability}</p>)}
            </p>
            <p>Tags: {(card.tags as String[]).map(tag =>
                <div class="tag">{tag}</div>)}
            </p>
            <img src={card.image} alt={card.name} />
        </div>
    </main>
</MainLayout>