---
import MainLayout from "@layouts/MainLayout.astro";
import SearchHeader from "@layouts/SearchHeader.astro";
import CardGrid from "@layouts/display-modes/CardGrid.astro";
import CardList from "@layouts/display-modes/CardList.astro";
import SearchControls from "@components/header/SearchControls.astro";
import DisplayOptions from "@components/header/DisplayOptions.astro";
import PaginationOptions from "@components/header/PaginationOptions.astro";

import type GridCardModel from "src/models/GridCardModel";
import type ListCardModel from "src/models/ListCardModel";

import { db, Card, Set, eq, asc } from 'astro:db';
import { QueryParser, type IKeywordOptions as QueryKeywordOptions } from "@scripts/parser/queryParser";
import { DrizzleParser, type IKeywordOptions as DrizzleKeywordOptions } from "@scripts/parser/drizzleParser";
import { stringifyLogicTree, getSingleToken } from "@scripts/parser/logicGroup";
import { stringifySearchToken } from "@scripts/utils";
import { selectCardSetCols, getOrderConfig } from "@scripts/db-utils";

import parserConfig from "src/config/parser-config.json"
import orderConfig from "src/config/order-config.json";

//URL Parameters
const query = Astro.url.searchParams.get("q");
const order = Astro.url.searchParams.get("order");
const dir = Astro.url.searchParams.get("dir") ?? "asc"; //TODO: needs the same default value treatment as displayFormat. Zod schema?
const page = parseInt(Astro.url.searchParams.get("page") ?? "1");
const pageSize = parseInt(Astro.url.searchParams.get("count") ?? "60");
const lastPage = 2; //TODO: get this from DB query somehow.

//Perform a runtime check for the default value, since TS convert is only compile time.
let displayFormat = Astro.url.searchParams.get("as")?.toLowerCase();
if(displayFormat !== "image" && displayFormat !== "list") {
    displayFormat = "image";
}

//Parse the query into a LogicTree that can be processed further.
const parser = new QueryParser(parserConfig.keywords as QueryKeywordOptions);
//TODO: Show errors as error message below search bar on result page.
let tree = parser.parse(query);
console.log(stringifyLogicTree(tree, stringifySearchToken));


//Parse the Logic Tree from the Query Parser into a Drizzle "Where" clause.
const drizzleConfig = parserConfig.keywords as DrizzleKeywordOptions;
const drizzleParser = new DrizzleParser(drizzleConfig);
//TODO: error handling for the possible exceptions here.
const drizzleFilterParams =  drizzleParser.parseLogicTree(tree);

//Check if a search for only a single set was made. If so, redirect to /sets/...
const singleToken = getSingleToken(tree);
if(singleToken?.type == "expression" && singleToken.keyword == "set") {
    //check if exactly 1 set that fits the criteria exists.
    const setResults = await db.select({id: Set.id}).from(Set).where(drizzleFilterParams);

    if(setResults.length == 1) {
        const setid = setResults[0].id;
        return Astro.redirect(`/sets/${encodeURIComponent(setid)}?as=${encodeURIComponent(displayFormat)}`);
    }
}

//Check if we have any keywords that require joining of the "Set" table.
// const usedSetKeywords = Object.keys(drizzleConfig).filter((key) => {
//     const dbCol = drizzleConfig[key].dbColumn;
//     const isSetKeyword = Array.isArray(dbCol) ? dbCol.find(c=>c.startsWith("Set")) : dbCol.startsWith("Set");
//     return isSetKeyword && drizzleParser.statistics.keywordUsage[key];
// });

//TODO: Change rarity order. Even if some rarities are technically between others, it looks bad to put them there.
//Like CC/CR between U and R

//always order by Card No. as 2nd for consistency within broad orderings.
const orderCols = getOrderConfig(orderConfig.Card, order ?? "", dir, Card.cardno);

//IMPORTANT: The result structure changes if we include a join.
//It becomes {Card:{id,name,...},Set:{id,name,...}}.
//We can avoid this by specifying all the columns in the Select.

const results = await selectCardSetCols()
    .from(Card)
    .innerJoin(Set, eq(Set.id, Card.setId))
    .where(drizzleFilterParams)
    .orderBy(...orderCols); 

    //Order: 
    //1. maybe standarize order/sort terminology
    //2. use a separate config fine to define columns for order
    //   like parse-config with getColFromString
    //   so we don't have the col names in the client-side select values.
    //   and we can have multiple sort columns this way.
    //3. Sort by CardNo as second column always to have consistency even with releaseDate or Rarity Sorts.
    //4. Rarity sort needs its own DB table with the order column. Else we can't use it in Query.
    //5. Not only rarity, but all col vals that shouldn't be alphabetical.
    //   Color sorting, and set sorting (since it should display W12 before W101).
    //   Set sorting can be handled with a multi-sort between set number and secondary "W/S".
    //   We could have separate columns in card for rarity/color sorting, but that requires updating each card
    //   if we change the way we sort rarities / colors.
    //5. Maybe do all the pagination and order client-side? That way we wouldn't need so many DB requests.
    //   We would also know total count. But load would be longer for first page.
    //   And we would need client-side components, i.e. React or Svelte, meaning more time learning.

//If the Set table is in the WHERE or in the SELECT, join it.
// if(usedSetKeywords.length > 0 || currentDisplayConfig.join?.includes("Set")) {
//     dbQuery.innerJoin(Set, eq(Set.id, Card.setId));
// }

console.log("Results:" + JSON.stringify(results));

//Redirect directly to the card detail page if only 1 result is found.
if(results.length == 1) {
    const cardid = results[0].id;
    return Astro.redirect(`/card/${encodeURIComponent(cardid)}`);
}

---
<MainLayout title={query}>
    <SearchHeader searchText={query} />
    <pre>{ stringifyLogicTree(tree, stringifySearchToken) }</pre>

    <SearchControls>
        <DisplayOptions {displayFormat} {order} {dir} />
        <PaginationOptions url={Astro.url} {page} {lastPage} {pageSize} />
    </SearchControls>

    <main>
        <div class="search-info">
            <p>
            <strong>1 – X of {results.length} cards</strong>
            <span class="search-summary">where the card types include “creature”</span>
            </p>
        </div>
        {/* Display the correct markup depending on the display format. */} 
        {displayFormat == "image" && <CardGrid cards={results as GridCardModel[]} />}
        {displayFormat == "list" && <CardList cards={results as ListCardModel[]} />}
    </main>

    <SearchControls>
        <DisplayOptions {displayFormat} {order} {dir} />
        <PaginationOptions url={Astro.url} {page} {lastPage} {pageSize} />
    </SearchControls>

</MainLayout>

<style>

    .search-info {
        background-color: #F6F4FA;
        padding: 8px 2.5%;
        font-size: 12px;
        color: #535353;
        border-bottom: 1px solid rgba(99,68,150,0.1);
        text-align: center;
        display: block;

        & p {
            display: block;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
        }

        & strong {
            color: #000;
            font-weight: 500;
        }
    }

    @media screen and (min-width: 760px) {
        .search-info {
            padding: 10px 2.5%;
            font-size: 14px;
            text-align: left;
        }
    }
</style>