---
import MainLayout from "@layouts/MainLayout.astro";
import SearchHeader from "@components/SearchHeader.astro";
import CardImageTile from "@components/CardImageTile.astro";

import { db, Card, Set, eq } from 'astro:db';
import { QueryParser, type IKeywordOptions as QueryKeywordOptions } from "src/scripts/parser/queryParser";
import { DrizzleParser, type IKeywordOptions as DrizzleKeywordOptions } from "src/scripts/parser/drizzleParser";
import { stringifyLogicTree } from "src/scripts/parser/logicGroup";
import { stringifySearchToken, objectMap } from "src/scripts/utils";
import { getColumnFromString } from "src/scripts/db-utils";

import parserConfig from "src/config/parser-config.json";
import displayConfig from "src/config/display-config.json";


const query = Astro.url.searchParams.get("q");

//Parse the query into a LogicTree that can be processed further.
const parser = new QueryParser(parserConfig.keywords as QueryKeywordOptions);
//TODO: Show errors as error message below search bar on result page.
let tree = parser.parse(query);
console.log(stringifyLogicTree(tree, stringifySearchToken));

//Parse the Logic Tree from the Query Parser into a Drizzle "Where" clause.
const drizzleConfig = parserConfig.keywords as DrizzleKeywordOptions;
const drizzleParser = new DrizzleParser(drizzleConfig);
//TODO: error handling for the possible exceptions here.
const drizzleFilterParams =  drizzleParser.parseLogicTree(tree);

//Check if we have any keywords that require joining of the "Set" table.
// const usedSetKeywords = Object.keys(drizzleConfig).filter((key) => {
//     const dbCol = drizzleConfig[key].dbColumn;
//     const isSetKeyword = Array.isArray(dbCol) ? dbCol.find(c=>c.startsWith("Set")) : dbCol.startsWith("Set");
//     return isSetKeyword && drizzleParser.statistics.keywordUsage[key];
// });

//IMPORTANT: The result structure changes if we include a join.
//It becomes {Card:{id,name,...},Set:{id,name,...}}.
//We can avoid this by specifying all the columns in the Select.

//"any" type is necessary because SelectedFields type is not compatible.
const currentDisplayConfig = displayConfig["Image"];
const selectColumns = objectMap<string,any>(currentDisplayConfig.select, getColumnFromString);

//Always join Set unless we find out it impacts performance.
let dbQuery = db.select(selectColumns)
    .from(Card)
    .innerJoin(Set, eq(Set.id, Card.setId));

//If the Set table is in the WHERE or in the SELECT, join it.
// if(usedSetKeywords.length > 0 || currentDisplayConfig.join?.includes("Set")) {
//     dbQuery.innerJoin(Set, eq(Set.id, Card.setId));
// }

const results = await dbQuery.where(drizzleFilterParams);
console.log("Results:" + JSON.stringify(results));
console.log(dbQuery.toSQL());

//Redirect directly to the card detail page if only 1 result is found.
if(results.length == 1) {
    const cardid = results[0].id;
    return Astro.redirect(`/card/${encodeURIComponent(cardid)}`);
}

---
<MainLayout title={query}>
    <SearchHeader searchText={query} />
    <p>{results.length} results found.</p>
    <pre>{ stringifyLogicTree(tree, stringifySearchToken) }</pre>
    <pre>{ dbQuery.toSQL().sql }</pre>
    <ul>
        { results.map( (card) => <li><CardImageTile card={card} /></li> ) }
    </ul>k
    <!-- TODO: Show a default page if no cards were found. -->
</MainLayout>