---
import MainLayout from '@layouts/MainLayout.astro';
import SearchHeader from '@layouts/SearchHeader.astro';
import CardGrid from "@layouts/display-modes/CardGrid.astro";
import CardList from "@layouts/display-modes/CardList.astro";
import DisplayOptions from '@components/header/DisplayOptions.astro';

import type GridCardModel from 'src/models/GridCardModel';
import type ListCardModel from 'src/models/ListCardModel';

import { db, eq, Card, Set } from 'astro:db';

import optionConfig from "src/config/display-option-config.json";
import rarityConfig from "src/config/rarity-config.json";
import { formatDate } from 'src/scripts/utils';
import { selectCardSetCols } from 'src/scripts/db-utils';


const order = Astro.url.searchParams.get("order") ?? "rarity";
const dir = Astro.url.searchParams.get("dir") ?? "asc";

//Display Format: Perform a runtime check for the default value, since TS convert is only compile time.
let displayFormat = Astro.url.searchParams.get("as")?.toLowerCase() ?? "";
if(!optionConfig.displayAs.find(disp => disp.value == displayFormat) ) {
    displayFormat = "image";
}

//We don't join cards here so that we can show empty sets.
const { setid = "" } = Astro.params;
const set = await db.select().from(Set).where(eq(Set.id, setid)).get();

if(!set) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found'
    });
}

//Join Set because we need SetName column for CardList.
const cards = await selectCardSetCols().from(Card)
    .innerJoin(Set, eq(Set.id, Card.setId))
    .where(eq(Card.setId, set.id));

//take a result array, group it by rarity, then group the rarity by order defined in config.
function groupBySortedRarity(cardList: typeof cards) {
    const groupedList = Object.groupBy(cardList, item => item.rarity);
    //Extract the keys of the group by (the rarities)
    return Object.entries(groupedList).sort(([keyA],[keyB]) => {
        //get the order for the rarities from the config.
        const orderA = rarityConfig[keyA as keyof typeof rarityConfig].order;
        const orderB = rarityConfig[keyB as keyof typeof rarityConfig].order;
        return orderA - orderB; 
    });
}

---
<MainLayout title={set.name}>
    <SearchHeader searchText={"set:" + set.id} />
    <div class="set-header">
        <div class="inner-flex">
          <div class="set-header-title">
              <h1>{set.name}</h1>        
              <p>{set.type} &mdash; {cards.length}&nbsp;cards</p>
              <p>Released&nbsp;{set.releaseDate ? formatDate(set.releaseDate) : "-"}</p>
          </div>

          <DisplayOptions {displayFormat} {order} {dir} />
      
        </div>
    </div>
    <main>
        {() => {
            if(!cards?.length) {
                return <div class="no-items">This set has no cards.</div>;
            }
            else if(displayFormat == "list") {
                return <CardList cards={cards as ListCardModel[]} />;
            }
            else if(displayFormat == "image" && order != "rarity") {
                return <CardGrid cards={cards as GridCardModel[]} />;
            }
            else {
                return groupBySortedRarity(cards).map(([rarity, grpCards]) => 
                    <Fragment>
                        <div class="set-section-header">
                            <h2>{rarityConfig[rarity as keyof typeof rarityConfig].name}</h2>
                            <hr/>
                        </div>
                        <CardGrid cards={grpCards as GridCardModel[]} />
                    </Fragment>
                );
            }
        }}
    </main>
</MainLayout>

<style>
    .set-header {
        background-color: #e0c5a3;
        padding: 4px 2% 4px 2%;
    }

    .set-header .inner-flex {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .set-header-title h1 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .set-header-title p {
        margin: 2px 0 0 0;
        font-size: 13px;
        color:#333;
    }

    .set-section-header {
        display: block;
        max-width: 1000px;
        padding: 0 2.5%;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 500;

        & h2 {
            margin: 16px 0 0 0;
            text-align: center;
        }

        & hr {
            margin: 0;
        }
    }

    @media screen and (min-width: 800px) {
        .set-header-controls {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            margin: 6px 0 6px 0;
        }
    }

    .no-items {
        display: block;
        max-width: 1000px;
        color: #333;
    }
</style>