---
import MainLayout from "@layouts/MainLayout.astro";
import SearchHeader from "@layouts/SearchHeader.astro";
import SearchControls from "@components/header/SearchControls.astro";
import SetDisplayOptions from "@components/header/SetDisplayOptions.astro";

import { db, Set } from 'astro:db';
import { format } from 'date-fns';

const type = Astro.url.searchParams.get("type") ?? "";
const order = Astro.url.searchParams.get("order") ?? "rarity";
const dir = Astro.url.searchParams.get("dir") ?? "asc";

const sets = await db.select().from(Set);

---
<MainLayout>
    <SearchHeader />

    <SearchControls>
        <span class="set-count">{sets.length} sets</span>
        <SetDisplayOptions {type} {order} {dir} />
    </SearchControls>

    {/* TODO: The footer should still be at the bottom even if the main is empty. */}
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Released</th>
                </tr>
            </thead>
            <tbody>
                { sets.map(set => 
                    <tr>
                        <td><a href={"/sets/" + set.id}>{set.name}</a></td>
                        <td>{set.releaseDate && format(set.releaseDate, "yyyy-MM-dd")}</td>
                    </tr>)}
            </tbody>
        </table>
    </main>
</MainLayout>

<style>
    .set-count {
        margin-right: 10px;
    }
</style>