---
import ValueSelect from "@components/controls/ValueSelect.astro";
import optionConfig from "src/config/display-option-config.json";

interface Props {
    displayFormat: string;
    order: string;
    dir: string;
}

const {displayFormat, order, dir} = Astro.props;

---
<div class="flex-row-start" data-display-options>
    <ValueSelect name="as" label="Display" value={displayFormat} defaultValue="image" options={optionConfig.displayAs} />
    <ValueSelect name="order" label="Order" value={order} defaultValue="name" options={optionConfig.cardOrder} />
    <ValueSelect name="dir" label="Direction" value={dir} defaultValue="asc" options={optionConfig.sortDirection} />
</div>

<script>
    //Scripts is only executed once, even if the component is included multiple times, so add once for all instances.
    document.querySelectorAll("[data-display-options] select").forEach((sel) => sel.addEventListener("change", changeUrlParams));

    function changeUrlParams(this:HTMLSelectElement) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set(this.name, this.value);
        window.location.search = urlParams.toString();
    }
</script>