---
import ValueSelect from '@components/controls/ValueSelect.astro';
import orderConfig from "src/config/order-config.json";

interface Props {
    type: string;
    order: string;
    dir: string;
}

const {type, order, dir} = Astro.props;

//Transform the card order settings into an array of value/label.
const setOrderOptions = Object.entries(orderConfig.Set).map(([key, entry]) => ({value: key, label: entry.label}));

---
<div class="flex-row-start" data-display-options>
    <span class="type-filter">
        <ValueSelect name="type" label="Type" value={type} showLabel={true} options={[
            { "value": "", "label": "Any"},
            { "value": "Booster Pack", "label": "Booster Pack" },
            { "value": "Trial Deck", "label": "Trial Deck" },
            { "value": "Premium Booster", "label": "Premium Booster" },
            { "value": "Extra Booster", "label": "Extra Booster" }
        ]} />
    </span>

    <ValueSelect name="order" label="Order" value={order} defaultValue="date" options={setOrderOptions} />

    <ValueSelect name="dir" label="Direction" value={dir} defaultValue="asc" options={[
        { "value": "asc", "label": "Asc" },
        { "value": "desc", "label": "Desc" }
    ]} />
</div>

<script>
    //Scripts is only executed once, even if the component is included multiple times, so add once for all instances.
    document.querySelectorAll("[data-display-options] select").forEach((sel) => sel.addEventListener("change", changeUrlParams));

    function changeUrlParams(this:HTMLSelectElement) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set(this.name, this.value);
        window.location.search = urlParams.toString();
    }
</script>

<style>
    .type-filter {
        margin-right: 10px;
    }
</style>