---
import ValueSelect from '@components/controls/ValueSelect.astro';
import optionConfig from "src/config/display-option-config.json";

interface Props {
    type: string;
    order: string;
    dir: string;
}

const {type, order, dir} = Astro.props;

---
<div class="flex-row-start" data-display-options>
    <span class="type-filter">
        <ValueSelect name="type" label="Type" value={type} showLabel={true} options={optionConfig.setType} />
    </span>

    <ValueSelect name="order" label="Order" value={order} defaultValue="date" options={optionConfig.setOrder} />
    <ValueSelect name="dir" label="Direction" value={dir} defaultValue="asc" options={optionConfig.sortDirection} />
</div>

<script>
    //Scripts is only executed once, even if the component is included multiple times, so add once for all instances.
    document.querySelectorAll("[data-display-options] select").forEach((sel) => sel.addEventListener("change", changeUrlParams));

    function changeUrlParams(this:HTMLSelectElement) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set(this.name, this.value);
        window.location.search = urlParams.toString();
    }
</script>

<style>
    .type-filter {
        margin-right: 10px;
    }
</style>